body {
    margin: 0;
    background-color: #171f29;
    height: 100vh;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main{
    padding: 40px 60px;
    max-width: 100%;
    background-color:#1F2937;
    min-width: 20%;
    /* border: 1px solid #cccdcf; */
    border-radius: 5px;
}
h1{
    color: white;
    font-size: 40px;
    line-height: 0.4;
}
.ran{
    color: #10B981;
}
p{
    color: white;
    font-size:18px;
}
button{
    color: white;
    border: none;
    width: 191px;
    height: 42px;
    border-radius: 5px;
    background-color: #10B981;
    margin-top:4vh;
    margin-bottom: 5vh;
    cursor: pointer;
}
button:hover{
    background-color: #0ea170;
}
.pass{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    gap: 15px;
}
.pass div{
    width: 211px;
    height: 39px;
    border-radius: 5px;
    background-color: #273549;
    color: #55F991;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
    cursor: pointer;
}
.pass div:hover{
    color: #9effc2;
    background-color:#28364b;
}
hr{
    /* font-size: 1px; */
    height: 1px;
    /* width: 98%; */
    background-color: transparent;
    border: 3px dotted rgba(255, 255, 255, 0.388);
    opacity: 0.5;
}
